body {
    background-color: #488ccd;
    padding: 50px;
    width: 800px;
    color: white;
    margin: 0 auto;
}

.page-title{
    font-size: 50px;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-menu{
    background-color: #284c80;
    width: 800px;
    padding: 0;
}

.main-menu-item{
    display: inline-block;
}

.main-menu-item a{
    display: block;
    color: rgb(188,248,255);
    text-decoration: none;
    margin-left: 20px;
    padding: 20px 0;
}