body {
    background-color: #488ccd;
    padding: 50px;
    width: 800px;
    color: white;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.page-title{
    font-size: 50px;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-menu{
    background-color: #284c80;
    width: 800px;
    padding: 0;
}

.main-menu-item{
    display: inline-block;
}

.main-menu-item a{
    display: block;
    color: rgb(188,248,255);
    text-decoration: none;
    margin-left: 20px;
    padding: 20px 0;
}

.main-menu-item a:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.content-image-container {
    text-align: center;
}

figcaption {
    font-size: 12px;
    color: #e6e6e6;
    font-style: italic;
  }
  h1 {
    font-size: 35px;
    color: rgb(237, 245, 255);
    margin-bottom: 5px;
    margin-top: 100px;
  }
  .created-date {
    margin-bottom: 40px;
    font-style: italic;
    color: #284c80;
    font-size: 14px;
    margin-left: 10px;
  }
  .content-lead,
  .content-body {
    line-height: 1.7;
  }
  .content-lead {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .content-body {
    font-size: 18px;
  }